body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #e2e8ec;
    color: #111010;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.navbar {
    margin: 0;
    padding: 10px;
    /* background-color: #efebea; */
    text-align: center;
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #212221;
    /* margin-right: auto;
    padding-left: 20px; */
    animation: glow 1.5s infinite alternate;
}

.logo:hover {
    transform: scale(1.1);

    color: #0c0ce3;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #0459ec, 0 0 10px #83f90c, 0 0 20px #60a900;
    }

    to {
        text-shadow: 0 0 10px #f2ea05, 0 0 20px #0a56ef, 0 0 30px #60a900;
    }
}

button {
    background-color: #60a900;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

button:hover {
    background-color: #111010;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;

}

.navbar a {
    color: #6b6565;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: #111010;
}

.bar {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #111010;
}

@media Only screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }

    ul {
        /* flex-direction: column; */
        gap: 10px;
        display: none;
    }

    .bar {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
    }

}

@media Only screen and (max-width: 400px) {
    header {
        flex-direction: column;
        gap: 10px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

.list1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(53, 24, 24, 0.05);
}

.list1 img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    align-self: center;
}

/* .content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
} */
@media only screen and (min-width: 700px) {
    .list1 {
        flex-direction: row;
        align-items: center;
    }

    .list1 img {
        max-width: 450px;
    }

    .list1 .content {
        margin-left: 30px;
        max-width: 600px;
    }
}

.list1 .content {
    font-family: Arial, sans-serif;
}

.list1 .content h1 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    line-height: 1.3;
}

.list1 .content p {
    color: #555;
    margin-bottom: 20px;
    font-size: 1rem;
}

.hero {
    background-color: #f3f4f2;
    color: white;
    padding: 50px 20px;
    text-align: center;
    /* animation: heroGlow 2s infinite alternate; */
}

/* @keyframes heroGlow{
    from{
        box-shadow: 0 0 10px #60a900, 0 0 20px #60a900, 0 0 30px #60a900;
    }
    to{
        box-shadow: 0 0 20px #1f63e1, 0 0 30px #009ba9, 0 0 40px #60a900;
    }
} */
.hero1 {
    background-color: #f3f4f2;
    color: rgb(19, 18, 18);
    padding: 50px 20px;
    text-align: center;
    /* animation: heroGlow 2s infinite alternate; */
    margin-top: 20px;
}

.hero-text {
    max-width: 800px;
    margin: 0 auto;
    color: black;
    /* text-align: center; */
    margin-bottom: 30px;
}

.hero h2 {
    margin: 0 0 10px 0;
    font-size: 36px;
}

.hero p {
    font-size: 18px;
    margin: 0;
}

.section {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hero-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h3 {
    margin-top: 0;
    color: black;
}

.card p {
    color: #555;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.hero-cards1 {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card1 {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 30px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card1 h3 {
    margin-top: 0;
    color: black;
}

.card1 p {
    color: #555;
}

.card1:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card1 img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* feedback */
.feedback-panel {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    font-size: 14px;
    color: #555;
    display: block;
    margin: 4px 0;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

button {
    /* width: 100%; */
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

textarea {
    height: 120px;
}
@media Only screen and (max-width: 600px) {
    .feedback-panel {
        padding: 15px;
    }

    input,
    textarea {
        font-size: 13px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
    
}

/* footer */
footer {
    background-color: #e2e8ec;
    color: #111010;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-size: 14px;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #0459ec, 0 0 10px #83f90c, 0 0 20px #60a900;
        text-shadow: 0 0 5px #78ec04, 0 0 10px #83f90c, 0 0 20px #60a900;
    }

    to {
        text-shadow: 0 0 10px #f2ea05, 0 0 20px #0a56ef, 0 0 30px #60a900;
        text-shadow: 0 0 10px #f2ea05, 0 0 20px #111212, 0 0 30px #60a900;

    }
}
.foot-top {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}
.footersec {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}
.footersec a {
    color: #111010;
    text-decoration: none;
    font-size: 14px;
}
.footersec2{
    gap: 20px;
    margin-bottom: 20px;
}
.footersec2 a {
    color: #111010;
    text-decoration: none;
    font-size: 19px;
    padding: 10px 12px;
    background-color: #78ec04;
    border-radius: 50%;
}
.footersec2 a:hover {
    background-color: #111010;
    color: white;
}
.footersec ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}
.foot-top a {
    color: #111010;
    text-decoration: none;
    font-size: 14px;
}
.foot-top a:hover {
    text-decoration: underline;
}
@media only screen and (max-width: 600px) {
    .foot-top, .footersec {
        flex-direction: column;
        align-items: center;
    }
    
}
